# Python cache
__pycache__/
*.pyc

# Virtual environment
ENV_SETUP/
venv/

# Model weights (remove if you want to keep in repo)
*.pt

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
runs/
# Ignore large model files
*.pt
# Ignore PDFs
*.pdf*.pt
*.pdf
__pycache__/
